<button class="toggle"><img src="{{site.url}}/img/sp/spmenu.svg"></button>
<nav class="spmenu">
  <ul>
    <li><a href="{{site.url}}/{{page.lang.value}}/#ABOUT">ABOUT</a></li>
    <li><a href="{{site.url}}/{{page.lang.value}}/#PRODUCT">PRODUCT</a></li>
    <li><a href="{{site.url}}/{{page.lang.value}}/#APPLICATION">APPLICATION</a></li>
    <li><a href="{{site.url}}/{{page.lang.value}}/#MAINVISUAL">MAIN VISUAL</li>
<!--    <li class="menuline"><a href="{{site.url}}/{{page.lang.value}}/#magicalmirai">EVENT</a></li>-->
    <li><a href="{{site.url}}/{{page.lang.value}}/news/">NEWS</a></li>
    <li class="menuline"><a href="{{site.url}}/{{page.lang.value}}/blog/">BLOG</a></li>
    <li class="menuline"><a href="{{site.url}}/{{page.lang.value}}/faq/">FAQ</a></li>
    <li>LANGUAGE</li>
    <li style="padding-left:1.5em;"><a href="{{site.url}}/ja/">日本語</a></li>
    <li style="padding-left:1.5em;"><a href="{{site.url}}/en/">ENGLISH</a></li>
    <li class="menulineall"></li>
    <li class="menusplogo"><a href="http://piapro.net/miku10th/" target="_blank"><img src="{{site.url}}/img/10-th.png" class="ten-th"></a><a href="{{site.url}}"><img src="{{site.url}}/img/co-lab.svg" class="co-lab"></a></li>
  </ul>
</nav>

<div class="pcmenu">
<nav class="fixed-nav">
<hr class="navhr"/>
 <ul>
   <li><a href="http://piapro.net/miku10th/" target="_blank"><img src="{{site.url}}/img/10-th.png" class="ten-th"></a><a href="{{site.url}}"><img src="{{site.url}}/img/co-lab.svg" class="co-lab"></a></li>
   <li><a href="{{site.url}}/{{page.lang.value}}/#ABOUT">ABOUT</a></li>
   <li><a href="{{site.url}}/{{page.lang.value}}/#PRODUCT">PRODUCT</a></li>
   <li><a href="{{site.url}}/{{page.lang.value}}/#APPLICATION">APPLICATION</a></li>
   <li><a href="{{site.url}}/{{page.lang.value}}/#MAINVISUAL"><span class="maxmenu">MAIN </span>VISUAL</a></li>
<!--   <li><a href="{{site.url}}/{{page.lang.value}}/#magicalmirai">EVENT</a></li>-->
   <li class="maxmenu">|</li>
   <li class="maxmenu"><a href="{{site.url}}/{{page.lang.value}}/news/">NEWS</a></li>
   <li class="maxmenu"><a href="{{site.url}}/{{page.lang.value}}/blog/">BLOG</a></li>
   <li>|</li>
   <li class="menuline"><a href="{{site.url}}/{{page.lang.value}}/faq/">FAQ</a></li>
   <li>|</li>
   <li class="lang-changer"><input type="checkbox" autocomplete="off" id="lang-menu" class="lang-changer__state"><label for="lang-menu" class="lang-changer__title">LANGUAGE</label>
      <ul class="lang-changer__menu">
        <li class="lang-changer__item"><a href="{{site.url}}/ja/">日本語</a></li>
        <li class="lang-changer__item"><a href="{{site.url}}/en/">ENGLISH</a></li>
      </ul>
   </li>
 </ul>
</nav>
</div>
